{extends 'layout/app'}

{block 'content'}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-icon" data-background-color="gray">
                        <i class="material-icons">school</i>
                    </div>
                    <h4 class="card-title">Plano de Estudo</h4>
                    <p class="category">Este é o seu plano de estudo do período corrente.</p>
                    <br>
                    <div class="card-content" class="ps-child">
                        <div id="fullCalendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block 'script'}
<script type="text/javascript">
    $(document).ready(function() {
        initFullCalendar();
    });

    initFullCalendar = function() {
        $calendar = $('#fullCalendar');

        today = new Date();
        y = today.getFullYear();
        m = today.getMonth();
        d = today.getDate();

        $calendar.fullCalendar({
            viewRender: function(view, element) {
                // We make sure that we activate the perfect scrollbar when the view isn't on Month
                if (view.name != 'month') {
                    $(element).find('.fc-scroller').perfectScrollbar();
                }
            },
            header: {
                left: 'title',
                center: 'month,basicWeek,basicDay',
                right: 'prev,next today'
            },
            defaultView: 'basicDay',
            defaultDate: today,
            views: {
                month: { // name of view
                    titleFormat: 'MMMM YYYY'
                    // other view-specific options here
                },
                week: {
                    titleFormat: " MMMM D YYYY"
                },
                day: {
                    titleFormat: 'D MMM, YYYY'
                }
            },

            // color classes: [ event-blue | event-azure | event-green | event-orange | event-red ]
            events: [
                {
                    title: 'Lunch',
                    start: new Date(y, m, d, 6, 0),
                    end: new Date(y, m, d, 8, 0),
                    allDay: false,
                    className: 'event-red'
                }
            ]
        });
    }
</script>
{/block}
